/*LOADER*/
.loader-wrapper {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111111;
  background-image: url("assets/GARUDA_Loader.png");
  background-repeat: no-repeat;
  background-size: 80px 80px;
  background-position: center;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 150px;
  height: 150px;
  position: absolute;
  border: 2.5px #ffffff;
  /*border-style: dotted;*/
  border-style: dotted dotted none none;
  border-radius:50%;
  animation: loader 1.5s infinite ease;
}


@keyframes loader {
  0% { transform: rotate(0deg);}
  10% { transform: rotate(36deg);}
  20% { transform: rotate(72deg);}
  30% { transform: rotate(108deg);}
  40% { transform: rotate(144deg);}
  50% { transform: rotate(180deg);}
  60% { transform: rotate(216deg);}
  70% { transform: rotate(252deg);}
  80% { transform: rotate(288deg);}
  90% { transform: rotate(324deg);}
  100% { transform: rotate(360deg);}
  /*
  0% { transform: rotate(0deg);}
  5% { transform: rotate(18deg);}
  10% { transform: rotate(36deg);}
  15% { transform: rotate(54deg);}
  20% { transform: rotate(72deg);}
  25% { transform: rotate(90deg);}
  30% { transform: rotate(108deg);}
  35% { transform: rotate(126deg);}
  40% { transform: rotate(144deg);}
  45% { transform: rotate(162deg);}
  50% { transform: rotate(180deg);}
  55% { transform: rotate(198deg);}
  60% { transform: rotate(216deg);}
  65% { transform: rotate(234deg);}
  70% { transform: rotate(252deg);}
  75% { transform: rotate(270deg);}
  80% { transform: rotate(288deg);}
  85% { transform: rotate(306deg);}
  90% { transform: rotate(324deg);}
  95% { transform: rotate(342deg);}
  100% { transform: rotate(360deg);}*/
}